<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>recovery password link:</p>
    <p>
      <%= "http://localhost:9000/users/#{@user_id}/update" %></p>
    </p>
  </body>
</html>
