
<h1 class="text-center fs-1">Posts</h1>
<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <p class="card-text"><%= post.text.truncate(120) %></p>
          <%= link_to "Read more", post, class: "btn btn-primary" %>
          <%= link_to "Like", post.like, class: "btn btn-success" %>
          <%= link_to "Dislike", post.dislike, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
